/*-- scss:defaults --*/

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

// Base document colors
$body-color: black;

// Code blocks
$code-block-bg-alpha: -.8;

/* ------- customize primary button color -------- */   
.btn {
  background-color: white;
  color: black;
  border-color: #dfdfdf;
  transition: all .7s;
}
.btn:hover {
  color: #77b0ed;
  background-color: #fff;
  border-color: #dfdfdf;
}  
