/*-- scss:defaults --*/

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

// Base document colors
$body-bg: #181818;
$body-color: white;
$navbar-bg: #212121;

// Code blocks
$code-block-bg-alpha: -.8;

/* ------- customize primary button color -------- */   
.btn {
  background-color: black;
  color: white;
  border-color: white;
  transition: all .7s;
}
.btn:hover {
  color: #77b0ed;
  background-color: #181818;
  border-color: white;
}  