/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #002D72;
$link-color: #002D72;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

#title-slide .title {
        font-size: 2em;
      }
/* Reduce the size of the paragraph text */
.reveal p {
    font-size: 2rem; /* Adjust this value to make the text smaller */
}

/* Reduce the size of list items */
.reveal li {
    font-size: 2rem; /* Adjust this value to make the text smaller */
}

.custom-color {
    color: blue;
}
